.site-header,
.site-header__wrapper,
.main-nav__toggle,
.nav-list__item,
.lang-list,
.lang-list__item,
.lang-list li,
.start-page .page-header,
.inner-page .page-header {
  background-color: #f4f2e3;
}

.sublist-archive__toggle:active,
.sublist-forauthors__toggle:active,
.nav-sublist__link {
  background-color: #D9D3AD;
}

@media (min-width: 830px) {
  .nav-list__item .nav-list__link:hover,
  .nav-sublist__link:hover,
  .nav-subsublist__item .nav-subsublist__link:hover {
    background-color: #D9D3AD;
  }
}

.nav-subsublist__link {
  background-color: #E6E0B8;
}

@media (min-width: 830px) {
  .nav-sublist__link,
  .nav-subsublist__link {
  background-color: #E6E0B8;
  }
}

.page-footer {
  background-color: #d3c992;
}
